#main-form{
    position: auto;
    margin-top: 60px;
    margin-bottom: 20px;
}
.jumbotron{
    width: 100%;
}
.card{
    width: 100%;
}
#animal-selector{
    width: 100%;
}
#add-area{
    width: 100%;
}
#btn-add-animal{
    display: block;
    float: right;
}

body{
  background-image: url(../images/bg-2.jpg);
  background-size: cover;
  height: 100%;
  opacity: .95;
}


/****************FAVORITE CHECK******************/
label input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  margin-left: 2em;
  position: relative;
  cursor: pointer;
}

.custom-checkbox .fa-star {
  color: gold;
  position: absolute;
  top: 0.4em;
  left: -1.25em;
  font-size: 0.75em;
}

.custom-checkbox .far {
  color: gray;
}

.custom-checkbox .fas {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .fas{
  opacity: 0.5;
}

.custom-checkbox input[type="checkbox"]:checked ~ .fas {
  opacity: 1;
}